.resizable_handle
  position relative;
  width 1px;
  display flex;
  align-items center;
  justify-content center;
  background-color hsl(214.3, 31.8%, 91.4%);
  transition: all .2s;

  &:hover
    background-color rgb(59 130 246);

  &::after
    position absolute;
    top 0px;
    bottom 0px;
    left 50%;
    width 0.25rem;
    transform translateX(-50%);
    --tw-content '';
    content var(--tw-content);
    --tw-translate-x -50%;
    --tw-translate-y 0;
    --tw-rotate 0;
    --tw-skew-x 0;
    --tw-skew-y 0;
    --tw-scale-x 1;
    --tw-scale-y 1;
    transform translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

.bg-blue-500
  background-color rgb(59 130 246);