.react-calendar-heatmap .color-scale-0
  fill #ecf0ec;

.react-calendar-heatmap .color-scale-1
  fill #d6e685;

.react-calendar-heatmap .color-scale-2
  fill #b9e274;

.react-calendar-heatmap .color-scale-3
  fill #8cc665;

.react-calendar-heatmap .color-scale-4
  fill #44a340;

.react-calendar-heatmap .color-scale-5
  fill #237e29;

.react-calendar-heatmap .color-scale-6
  fill #1a591f;

.map-0
  background-color #ecf0ec;

.map-1
  background-color #d6e685;

.map-2
  background-color #b9e274;

.map-3
  background-color #8cc665;

.map-4
  background-color #44a340;

.map-5
  background-color #237e29;

.map-6
  background-color #1a591f;

.map
  display flex;

  >div
    width 30px;
    height 10px;
    position relative;

    >div
      position absolute;
      right -5px;
      bottom -20px;
      font-size 14px;